/* #st{
    position: static;
}
#fx{
    padding: 10px;margin: 10px;
    position: fixed;
    background: blue;
}
#stk{
    height: 10px;
    width:10px;
    background-color: aqua;
    position: sticky;
} */
div{
    height: 20vh;
    width: 20vw;
    position: sticky;
    top: 30px;
    right: 10px;
    background: blueviolet;
}
.box{
    position: relative;
    height: 10vh;
    width: 10vh;
    background-color: aqua;
    padding: 30px;
}
.box1{
    position: absolute;
    height: 10vh;
    width: 10vh;
    left:10px;
    z-index: 1;
    background-color: rgb(96, 27, 225);
    
}
.box2{
    position: absolute;
    height: 10vh;
    width: 10vh;
    background-color: rgb(39, 223, 29);

}