*{
    /* background-image: url(https://nrzl4apc.knight-bite.com/main/res/index/app-link-background.svg); */
    margin: 0;
    padding: 0;
}
.body {
    background-image: url("https://nrzl4apc.knight-bite.com/main/res/index/app-link-background.svg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: rgb(212 255 238); 
    /* font-family: Arial; */
    font-weight: 900;
    font-size: 100px;
    /* text-shadow: 10px 2px 10px #b4464a; */
    text-align: center;
    font-weight: lighter;
    padding-top: 10px;
    word-spacing: 10px;
    padding-bottom: 100px;
}
.heart {
    display: flex;
    justify-content: flex-end; 
    gap: 50px;
    position: absolute;
    top: 10px;
    right: 40px;   
}
a{
    color: rgb(250, 250, 250);
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
}
a:active{
    color: rgb(232, 139, 18);
}
img{
    margin-top: 10px;
    margin-left: 10px;
}
.hello{
    background-color: rgba(0, 0, 0, 0.256);
    border-bottom: 2px  white;
    border-radius: 10px;
    position: sticky;
    display: flex;
}
.second{
    background-color: white;
    height: 50vh;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    color: rgb(182, 39, 39);
    font-size: 100px;
    padding-top: 25px;
    text-align: center;
    font-style: oblique;
}
.third{
    background-image: url("https://nrzl4apc.knight-bite.com/main/res/index/banner-1.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.third {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color: rgb(255, 255, 255); 
    font-family:Tahoma;
    font-weight: 300px;
    font-size: 150px;
    -webkit-text-stroke: 2px rgb(0, 0, 0); 
    text-align: center;
    font-weight: lighter;
    padding-top: 10px;
    word-spacing: 10px;
    font-weight: 900;
}
.four{
    height: 100vh;
    display: flex;
    flex-direction: column;     
    justify-content: center;    
    align-items: center;        
    background-image: url("https://nrzl4apc.knight-bite.com/main/res/index/media-banner-2.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.four h4{
    color: white;
    font-size: 100px;
    font-weight: lighter;
    text-align: center;
    font-family:Tahoma;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-weight: 900;
}

.four button{
    margin-top: 30px;           
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
}
.sakshi{
    display: flex;
    height: 50vh;
    gap: 80px;
    justify-content: center;  
  align-items: center;
}
.sakshi div{
    font-size: 30px;
    font-weight: bold;
    BACKGROUND: rgb(255, 255, 255);
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 400px;
}
.sakshi img{
    width: 150px;
    height: 250px;
}
.fifth{
    background-color: white;
    height: 100vh;
}
h4{
    color: rgb(182, 39, 39);
    font-size: 100px;
    padding-top: 25px;
    text-align: center;
    font-style: italic;
}
.fifth h1{
    color: rgb(182, 39, 39);
    font-size: 40px;
    padding-left: 80px;
    text-align: left;
    font-style: italic;
    /* font-style: black; */
}